body {
    background-color: #fff;
}

h1{
    color: #855080;
}

h2 {
    color: blue;
}

.title{
    font-size: 20;
    width: 100%;
    height: auto;
    text-align: center;
}

.corpo{
    background-color: grey;
}

.content-title{
    size: 35px;
    color: red;
    text-align: none;
}



